# API Configuration
API_URL=http://192.168.1.100:3001/api

# Google Maps API Key
# Obtén tu API key en: https://console.cloud.google.com/
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=TU_GOOGLE_MAPS_API_KEY_AQUI

# Expo Configuration
EXPO_PUBLIC_API_URL=http://192.168.1.100:3001/api



EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=594374983119-XXXXandroid.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=594374983119-fim5bq8eo4o2nn919cgl9d7cml4qvohn.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=594374983119-9v4m67ml05lkeafou7hmasb20m1oj7c6.apps.googleusercontent.com